/node_modules/
/commonjs/
/esm/
/standalone/
/build
/storybook-static

# IDE
.vscode/
*.iml
ncu.sh
.idea/

# Mac
.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
